@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v7/ViZhet7Ak-LRXZMXzuAfkY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.listview-thumbnail {
    display: inline-block;
    padding: 12px 0;
    width: 50px;
    border-radius: 45px;
    background: #3db9cc;
    color: white;
    text-align: center;
}

.listview-text {
    margin-left: 15px;
}

.ui-scrollview-view {
	background-color: white;
}

#loading {
    display: inline-block;
    position: absolute;
    top: 42%;
    width: 100%;
    text-align: center;
    color: #3db9cc;
}

#contact-pic {
    background-color: #3db9cc;
    border-top: 1px solid #3db9cc;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    height: 256px;
    margin-left: -42px;
    line-height: 279px;
    font-size: 423px;
    font-weight: 900;
}

#contact-info > div {
	padding: 25px;
}

#contact-info span {
	padding: 14px 2px;
}

.contact-text {
	margin-left: 15px;
}

#contact-email .contact-text {
	margin-left: 10px;
}

#back-button {
	position: absolute;
	bottom: 300px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: white;
    background-color: #3db9cc;
    padding: 16px;
}
