.listview-thumbnail {
    display: inline-block;
    padding: 12px 0;
    width: 50px;
    border-radius: 45px;
    background: #3db9cc;
    color: white;
    text-align: center;
}

.listview-text {
    margin-left: 15px;
}

.ui-scrollview-view {
	background-color: white;
}

#loading {
    display: inline-block;
    position: absolute;
    top: 42%;
    width: 100%;
    text-align: center;
    color: #3db9cc;
}

#contact-pic {
    background-color: #3db9cc;
    border-top: 1px solid #3db9cc;
    color: white;
    font-family: Consolas;
    height: 242px;
    margin-left: -48px;
    line-height: 266px;
    font-size: 393px;
    font-weight: 900;
}

#contact-name, #contact-phone {
	padding: 20px;
}

#contact-name {
	margin-top: 20px;
}

.contact-text {
	margin-left: 15px;
}

#back-button {
	text-align: center;
}

#back-button > a {
	color: white;
    background-color: #3db9cc;
    line-height: 0px;
    height: 40px;
    margin-top: 60px;
    padding: 25px;
}
